.like-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  background-color: hsla(216, 12%, 54%, 0.318);

  .like-container__star {
    color: black;
    cursor: pointer;
  }

  .like-container__star::before {
    content: "\2606";
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    color: var(--main-color);
  }

  .like-container__star:hover::before {
    content: "\2605";
    opacity: 1;
    cursor: pointer;
  }

  .like-container__star--liked {
    cursor: pointer;
    color: var(--main-color);
  }
}
